* {
  	font-family: Helvetica;
	font-size: 1em;
	color: #000;	
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;	
}

.clear { clear: both; }

h1, h2, h3 {
	font-family: 'Passion One', cursive;	
	margin: 10px 0;
	text-shadow: 0px 1px 1px rgba(0,0,0,.2);
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

h2 {
	font-size: 1.4em;	
}

h3 {
	font-size: 1em;	
	font-family: Helvetica;
	font-weight: normal;
}

/* Logo */

#logo {
	position: absolute;
	top: 0;
	right: 7%;	
	z-index: 5;
	box-shadow: 0 1px 10px 1px rgba(255,255,255,.5);
}

#logo {
	color: #fff;
	display: block;
	padding: 6px;
	font-weight: bold;
	font-size: 1.3em;
	background-color: transparent;	
	text-decoration: none;
	transition: ease-in-out all .5s;
	-webkit-transition: ease-in-out all .5s;
	-moz-transition: ease-in-out all .5s;
}

#logo:hover {
	background-color: #e04949;
	transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
}

/* Header */

header {
	display: block;
	text-align: right;
	padding: 150px 7% 10px 7%;
	border-bottom: 1px dotted #CCC;
	position: relative;
	background-color: #18577C;
}

header h1, header h2, header h3 {
	color: #fff;
	text-shadow: 0px 1px 1px rgba(0,0,0,.8);
	font-weight: normal;
}

header #menu_toggle {
	position: absolute;
	top: 65px;
	left: 0px;
	background-color: #F8F8F8;	
}

header #menu_toggle a {
	display: block;
	padding: 6px 10px;
	text-decoration: none;	
}

#version {
	color: #fff;
	font-size: 7pt;	
}

/* Article */

article {
	padding: 20px 7% 20px 7%;
	text-align: justify;	
}

article p {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3em;
	word-spacing: -0.05em;
	margin-bottom: 0.5em;
	color: #222;
	padding: 0 0 1em 0;
}

article p#teaser {
	font-size: 18px;
	color: #000;
}

/* Prev / Next */

nav#prev_next {
	display: block;
	border-top: 1px dotted #CCC;
}

nav#prev_next a{
	display: block;
	font-size: 1.7em;
	text-decoration: none;
	color: #ddd;
	text-shadow: 0px 1px 1px rgba(0,0,0,.2);
	transition: ease-in-out all .5s;
	-webkit-transition: ease-in-out all .5s;
	-moz-transition: ease-in-out all .5s;
}

nav#prev_next a:hover{
	color: #bbb;
	background-color: #eee;
	transition: ease-in-out all .3s;
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
}

/* Footnotes */

#footnotes {
	padding: 20px 7% 20px 7%;
}

#footnotes ol li {
	list-style: none !important;
}

sup, sub {
       line-height: 0;
       font-size: 70%;
}

sup a, sub a {
	text-decoration: none;
	color: #888;	
}


/* Desktop */
@media only screen and (min-width : 1224px) {
	article {
		column-count: 3;
		column-gap: 30px;
		column-rule: 1px dotted #CCC;
		columns: 3;
		-webkit-column-count: 3;
		-webkit-column-gap: 30px;
		-webkit-column-rule: 1px dotted #CCC;
		-webkit-columns: 3;
		-moz-column-count: 3;
		-moz-column-gap: 30px;
		-moz-column-rule: 1px dotted #CCC;
		-moz-columns: 3;	
	}
	nav#prev_next {
		column-count: 2;
		column-gap: 1px;
		column-rule: 1px dotted #CCC;
		
		-webkit-column-count: 2;
		-webkit-column-gap: 1px;
		-webkit-column-rule: 1px dotted #CCC;
		
		-moz-column-count: 2;
		-moz-column-gap: 1px;
		-moz-column-rule: 1px dotted #CCC;
	}
	nav#prev_next a#prev{
		text-align: left;
		padding: 20px 0 20px 14%;
	}
	nav#prev_next a#next{
		text-align: right;
		padding: 20px 14% 20px 0;
	}
}

/* Tablets */
@media screen and (min-width : 961px) and (max-width : 1223px), (min-device-width : 961px) and (max-device-width : 1223px) {
	article {
		column-count: 2;
		column-gap: 30px;
		column-rule: 1px dotted #CCC;
		columns: 2;
		-webkit-column-count: 2;
		-webkit-column-gap: 30px;
		-webkit-column-rule: 1px dotted #CCC;
		-webkit-columns: 2;
		-moz-column-count: 2;
		-moz-column-gap: 30px;
		-moz-column-rule: 1px dotted #CCC;
		-moz-columns: 2;	
	}
	nav#prev_next {
		column-count: 2;
		column-gap: 1px;
		column-rule: 1px dotted #CCC;
		
		-webkit-column-count: 2;
		-webkit-column-gap: 1px;
		-webkit-column-rule: 1px dotted #CCC;
		
		-moz-column-count: 2;
		-moz-column-gap: 1px;
		-moz-column-rule: 1px dotted #CCC;
	}
	nav#prev_next a#prev{
		text-align: left;
		padding: 20px 0 20px 14%;
	}
	nav#prev_next a#next{
		text-align: right;
		padding: 20px 14% 20px 0;
	}
}

/* Smartphones */
@media screen and (min-width : 320px) and (max-width : 960px), only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
	nav#prev_next a{
		text-align: center !important;
		padding: 20px 0;
	}
	nav#prev_next {
		column-count: 1;
		column-gap: 1px;
		column-rule: 1px dotted #CCC;
		
		-webkit-column-count: 1;
		-webkit-column-gap: 1px;
		-webkit-column-rule: 1px dotted #CCC;
		
		-moz-column-count: 1;
		-moz-column-gap: 1px;
		-moz-column-rule: 1px dotted #CCC;
	}
	article {
		column-count: 1;
		column-gap: 30px;
		column-rule: 1px dotted #CCC;
		columns: 1;
		-webkit-column-count: 1;
		-webkit-column-gap: 30px;
		-webkit-column-rule: 1px dotted #CCC;
		-webkit-columns: 1;
		-moz-column-count: 1;
		-moz-column-gap: 30px;
		-moz-column-rule: 1px dotted #CCC;
		-moz-columns: 1;	
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	
}
